<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <script src="js/bootstrap.min.js"></script>

  <script src="js/angular.js"></script>
  <script src="js/angular-touch.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-messages.js"></script>
  <script src="js/angular-sanitize.js"></script>
  <script src="js/angular-ui-utils.min.js"></script>

  <link  rel="stylesheet" href="css/select.css" />
   <script data-require="ui-select@0.11.1" data-semver="0.11.1" src="js/select.js"></script>
   <link rel="stylesheet" href="css/selectize.default.css">



<link rel="stylesheet" href="css/ui-grid.min.css">

<script src="js/ui-grid.min.js"></script>
<script src="js/csv.js"></script>
<script src="js/pdfmake.js"></script>
<script src="js/vfs_fonts.js"></script>
<script src="js/autoFitColumns.js"></script>



<link rel="stylesheet" href="css/navbar-blue.css">

<script type="text/javascript" src="js/FileSaver.min.js"> </script>
<script type="text/javascript" src="js/jszip.min.js"></script>
<link rel="stylesheet" href="css/font-awesome.css" />



<style media="screen">
  .grid { width: 1400px; height: 400px; }
  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    background: #eff9f9;
    height: 30px;
    border: 10px;
  }


  .ui-grid-cell {
    overflow: visible;
    z-index: 99999;
  }

  .ui-grid-cell, ui-select-wrap {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


</style>


  <title>Big Object Metadata Editor</title>
</head>
<body class="container2">

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"> <i class="glyphicon glyphicon-edit"></i> Big Object Editor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li ><a href="/">Main</a></li>
      </ul>

      <div class="inner-addon right-addon navbar-form navbar-right">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" placeholder="Search" />
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown ">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Help <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="./help.html">Help Topics</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div ng-controller="MainCtrl" style="margin-left:40px;">
    <h4>Big Object</h4>
    <div class="row">
        <div class="form-group">
      <div class="col-lg-3">
        <input type="search" class="form-control" size="50" ng-model="objectLabel"    ng-change='updateAPIName()'
        title ='Big Object Label'
        required  placeholder="Enter Big Object Label ">
      </div>

      <div class="col-lg-3">
        <input type="search" class="form-control" size="50" ng-model="objectAPIName"   readonly required='true'

        title ='Big Object API Name'

         placeholder="Enter Big Object API Name">
      </div>

     <div class="col-lg-3">
        <input type="search" class="form-control" size="50" ng-model="objectPluralLabel" required  placeholder="Enter Big Object Plural Label">
    </div>
       <div class="col-lg-1">
        <input type="number" class="form-control" size="10" ng-model="apiVersion" placeholder="API version">

      </div>
    </form>

    </div>
  </div>
  <br>


    <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav
      ui-grid-selection

      ui-grid-selection ui-grid-pagination ui-grid-exporter
        ui-grid-auto-fit-columns ui-grid-resize-columns="true"
    class="grid" style="border-radius:2px;"></div>

    <script type="text/ng-template" id="uiSelect">
      <ui-select-wrap>
        <ui-select ng-model="MODEL_COL_FIELD" theme="selectize" ng-disabled="disabled" append-to-body="true">
          <ui-select-match placeholder="Choose...">{{ COL_FIELD }}</ui-select-match>
          <ui-select-choices repeat="item in col.colDef.editDropdownOptionsArray | filter: $select.search">
            <span>{{ item }}</span>
          </ui-select-choices>
        </ui-select>
      </ui-select-wrap>
    </script>

<button class='btn btn-info'  ng-click="addNewItem()" >
<i class="fa fa-plus" aria-hidden="true"></i>
  Add row at end </button>
<button class='btn btn-info'   ng-show='gridApi.selection.getSelectedRows().length == 1' ng-click="insertNewItem()" >
  <i class="glyphicon glyphicon-list"></i> Insert row above</button>
<button class='btn btn-danger' ng-show='gridApi.selection.getSelectedRows().length == 1' ng-click="deleteRow()" >
  <i class="glyphicon glyphicon-remove"></i> Delete </button>
<button class='btn btn-info'   ng-show='packageDownloaded2' ng-click="sfdcLogin()" >
<i class="glyphicon glyphicon-cloud"></i>
   SFDC Login </button>


  <h4 style="margin-left:0px;">Index</h4>
  <div class="row">
      <div class="form-group">

        <div class="col-lg-4">
          <input type="search" class="form-control" size="50" ng-model="indexLabel"
          ng-change='updateIndexAPIName()'   placeholder="Enter Big Object Index Label ">
        </div>

    <div class="col-lg-4">
      <input type="search" class="form-control" size="50" readonly ng-model="indexAPIName"
     placeholder="Enter Big Object Index Name">

    </div>


  </div>

  </div>
  <br/>
     <button class="btn btn-primary" ng-click='createZipFile()'>
       <i class="fa fa-file-archive-o" aria-hidden="true"></i> Create package Zip file</button>
        <button class="btn btn-success" name="button" ng-show='packageDownloaded' ng-click='showDeploy = !showDeploy'>How to Deploy</button>

  <pre ng-show='showDeploy'>
#----- ANT migration way -----
$ ant deployBigObjectsZip
Buildfile: /Users/mchinnappan/sfdc-deploy/work/build.xml

deployBigObjectsZip:
[sf:deploy] Request for a deploy submitted successfully.
[sf:deploy] Request ID for the current deploy task: 0Aff400000TdbEECAZ
[sf:deploy] Waiting for server to finish processing the request...
[sf:deploy] Request Status: InProgress (0/10)  -- Processing Type: CustomObject
[sf:deploy] Request Status: Succeeded
[sf:deploy] Debugging Information:
[sf:deploy] 38.0 APEX_CODE,FINER;APEX_PROFILING,FINE;CALLOUT,INFO;DB,INFO;SYSTEM,FINEST
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING_BEGIN
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING|No profiling information for SOQL operations
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING|No profiling information for SOSL operations
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING|No profiling information for DML operations
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING|No profiling information for method invocations
[sf:deploy] 07:15:32.41 (41969757)|CUMULATIVE_PROFILING_END
[sf:deploy] *********** DEPLOYMENT SUCCEEDED ***********
[sf:deploy] Finished request 0Aff400000TdbEECAZ successfully.

<img height="200" style="border-radius:10px;" src="img/bigobject-deploy-ant-task.png" alt="">
</pre>

  <a  ng-show='showDeploy' class="btn btn-info"
  href="https://login.salesforce.com/services/oauth2/authorize?response_type={{RESPONSE_TYPE}}&client_id={{CLIENT_ID}}&redirect_uri={{REDIRECT_URL}}">
<i class="glyphicon glyphicon-cloud"></i>   SFDC Login</a>

<button ng-show='oauth2Parms2' class="btn btn-primary" ng-click=restGet()>REST Call</button>

</div>
<script type="text/javascript" src='js/bobj-editor.js?v=16'> </script>

</body>
</html>
