  html, body {
    height: 100%;
  }

  body {
    padding: 8px;
    background-color: #F6F6F6;
    box-sizing: border-box;
  }


.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    background-image: url('https://mohan-chinnappan-n.github.io/sfdc/gs/css/vertical.png');
    cursor: ew-resize;
  }

  .gutter.gutter-vertical {
    background-image: url('https://mohan-chinnappan-n.github.io/sfdc/gs/css/horizontal.png');
    cursor: ns-resize;
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }

 @media print {
  h2 { 
    page-break-before: always;
  }

